*   {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    padding-top: 20px; 
    font-size: 25px;  
}


body   {
    background-color: rgba(150, 118, 93, 0.233);
}